<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings> 
        <add name="estudoContext" connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=SUASENHA;database=estudo" providerName="MySql.Data.MySqlClient" /> 
    </connectionStrings> 
</configuration>